*{
    padding:0;
    margin:0;    
}
.head1{
    background-color: rgb(124, 122, 122);
    padding:0.5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;   
}
.h6{
    color:white;
    font-size: 20px;
    padding-left:200px;
    padding-right: 20px;
}
.phone{
    color:white;
}
.phone:hover{
    color:red;
}
.email{
    color:white;
    padding-left:30px;
}
.email:hover{
    color:red;
}
#id{
    color:black;
    
}
#table{
    background-color:rgb(192, 189, 184);
}

#a1{
    text-decoration:none;
}

#d1{
    background-image: url("./img/images.jpg") ;
    background-repeat: no-repeat;
    background-position: top;
}

#b2{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:200px;
}
#b3{
    padding:1px;
    background-color: red;
    width: 300px; height: 10px;
    margin-left:60px;
}
#b4{
    margin-left: 100px;
    font: 20px solid black;
    padding-top:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#b5{
   background-color: red;width: 250px;
   height: 40px;
   color: seashell;
   font-size:20px;
}
input{
    width: 250px;height: 40px;
    font-size: 15px;
}
h6{
    font-size:20px;   
}
#b6{
    color:white;
    font-size:20px;
    list-style-type: square;
}
#b7{
    padding-left:40px;
    color:whitesmoke;
    font-size:50px;

}
#b8{
    color:yellow
}
#b9{
    margin-left:50px;
    padding-left: 40px;
}

#g1 .material-icons{
   
    color:black;
    border:6px solid black ;
    border-radius:50%;
    padding:30px;
    margin-left:20px;
}
#g1 .material-icons:hover{
    color:white;
    background-color:red;
    border:6px solid red;

}
#b14{
    padding:40px 20px 20px 10px;
    width:200px;
    height:150px;
}

#b15{
    padding-left: 30px;
    font-size: 40px;
}
.head1 a{
    text-decoration: none;
    color:white;
}
.head1 a:hover{
    color:red;
}
#table1 #c7{
    font-size:20px;
    color:rgb(243, 8, 8);
    padding:20px;
    margin:10px;
    text-decoration: none;
}
#table1 #c2{
    border-right: 2px solid rgb(245, 235, 235) ;

}
#table1 li{
    font-size:20px;
    color:black;
    padding:15px;
    margin:10px;
    list-style-type:none;
    display:inline;
    float:left;
}
#table1 li a{
    text-decoration: none;
    color:black;
}
#table1 #ul3{
    padding-right: 40px;
}
#table1 #ul3 a{
    display:none;
    padding: 10px;
}
#table1 #ul3:hover{
    background-color: rgb(75, 75, 124);
    color:white;
    padding-right: 40px;
}
#table1 #ul3:hover #table1 li{
    padding:10px;
}
#table1 #ul3:hover a{
    display:block;
    background-color: rgb(75, 75, 124);
    color:white;
}
#table1 #ul3 a:hover{
    color:black;
    background-color: rgb(241, 114, 114);
}

*{
    background: url("img/q.png") no-repeat bottom right fixed;
    
} 

#t2 .material-icons{
   
    color:white;
    border:6px solid white ;
    border-radius:50%;
    padding:30px;
    margin-left:20px;
}
#t2 .material-icons:hover{
    color:white;
    background-color:red;
    border:6px solid red;

}
#d3{
    background-color: red;
    font-size: 50px;
    color:white;
    align-items: center;
    padding:20px 20px 60px 400px ;
}
#t2{
    color:white;
    font-size: 20px;
}
#t2 p{
    font-size: 40px;
    color:white;
}
#body2_table1 td{
    padding: 50px 5px 50px 5px;
    margin: 5px;
    background-color: rgba(70, 68, 68, 0.8);
    border: 2px solid black;
}

#body2_table1 tr{
    color: thistle;
}

#body2_table1{
    background:url("./img/build.jpg")no-repeat top fixed;
    padding:3px;
    width:100%;
}
.p3{
    margin:5px;
    padding:50px;
    color: honeydew;

}
.p3 td p{
    font-size: 25px;
}
.p3 td{
    padding:10px;
    justify-content: space-evenly;
    background-color: rgba(48, 44, 44, 0.8);
    border: 2px solid black;
}
.p3 td h2{
    font-size: 40px;
}
.p3{
    background: url("./img/22.jpg")fixed no-repeat;
}
.t3{
    width:100%;
    margin:10px;
    padding:5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url("./img/27.jpg")fixed top;
}
.t3 td{
    width:500px;

}
.t3 .material-icons:hover{
    color:red;
    border: none;
}
.t3 h2{
    font-size: 30px;
    color:red;
}
.t3 .material-icons:visited{
    color:red;
    border: none;
}
.t3 .tr1{
    padding:20px;
   background-color: rgba(230, 230, 250, 0.795);
}
#ii{
    border:1px solid black;
    border-radius:50%;
    padding: 5px;
}

/* #inp1{
    border:2px solid black;
    border-radius: 25px ;
    padding: 5px;
    display:block;
} */
#t2 span{
    color:red;
    font-size: 30px;
}
.s2{
    color:red;
}